body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start,#number_of_objects,#status
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 2;
    text-align: center;
}

canvas
{
    border: 2px ridge white;
    border-radius: 10px;
    margin-top: 130;
    box-shadow: 5px 5px 5px rgb(59, 126, 20);
}

